# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
*.env
!.env.example

# Builds
build/
dist/

# Tests & reports
coverage/
playwright-report/
test-results/

# OS
.DS_Store
